.layout{
  display: grid;
  grid-template-rows: auto auto auto
  ;
}
.buttontop{
  width: 50px !important;
  height: 50px !important;
}

.container_navbar{
}

.container_main{

}

.container_footer{

}