.layout{
  display: grid;
  grid-template-rows: auto auto auto
  ;
}

.container_navbar{
  border: 1px solid #000;
}

.container_main{
  border: 1px solid #000;

}

.container_footer{
  border: 1px solid #000;

}