.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--brand);

}
.nome{
  
}
.navbar .botao {
  display: inline-block;
  margin: 1.5vw;
  cursor: pointer;
  margin: 0 1.5vw 0 1.5vw;
}


.mobilenavigation {
  font-size: 2rem;
  margin-right: 2px;


}

.navbar .botao:hover{
  border-bottom: 1px solid var(--brand2);
  transition: 0.5s;

}

.navbar .mobilenavigation{
  display: none;
}



@media(max-width: 990px){
  .navbar .navigation{
    display: none;
  }



  .navbar .mobilenavigation{
    display: flex;
    align-items: center;
    background-color: var(--brand);

  }
  .navbar .mobilenavigation .hamburger{
    position: flex;
    margin-right: 20px;
    cursor: pointer;
  }

  .navbar .nav {
    display: flex;
    background-color: var(--brand2);

  }

  
.nav_links ul{ 
  display: flex;
  width: 100%;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 100;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.32);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.3px);
-webkit-backdrop-filter: blur(3.3px);
border: 1px solid rgba(255, 255, 255, 0.3);

}

.navbar .botao:hover{
  border-bottom: 1px solid var(--brand2);
  transition: 0.5s;

}

}