.container_portfolio{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content:center;
  gap: 2rem;
  height: auto;
  width: 100%;
  background-color: var(--brand);
  
}
.container_portfolio h2{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

}
.container{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;


}



@media (max-width: 798px) {
  .container{
    display: flex;
    align-items: center;
    justify-items: center;
    }
 
    }