
.container_sobre{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin-top: 2rem;

  
}

.container_sobre h3{
  font-weight: bold
}
.container_sobre .container_text{
  text-align: left;
  width: 50vh;
  padding: 20px;
  margin-right: 20rem;

}

.image{
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);

}


.contatos
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70vh;
  padding:20px;
  border:1px solid rgba(0,0,0,0.2);
  border-radius:25px;
  box-shadow:0 0 15px rgba(0,0,0,0.5);
  font-size:0.9em;
  transition:all 0.2s ease-in-out;
  text-align:center;
  
}



.photo
{
    display:inline-block;
    float:left;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: white;
    margin: 0 auto;
    background-image: url("/lado.jpg");
    background-size: cover;
    background-position: 50% 50%;
    top:75px;
    box-shadow:0 0 2px rgba(0,0,0,0.5);
    transition:all 0.5s ease-in-out;

   
}



.detalhes {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  min-width:250px;  
  font-size: 1.4rem;
  
}

.container_detalhes p{
  font-size: 1.2rem;

}



  





@media (max-width: 768px) {
 .container_sobre{
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
 
 } 

 .container_sobre .container_text{
  text-align: left;
  width: 50vh;
  padding: 20px;
  margin-right: 0;

}

}