.container_sobre{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 1rem;
  display: flex;
  transition:all 0.2s ease-in-out;
  text-align:center;
  
}
  


.photo{
  width: 100%;
}
.photo img
{
    display:inline-block;
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
    background-color: white;
    margin: 0 auto;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow:0 0 2px rgba(0,0,0,0.5);
    transition:all 0.5s ease-in-out;

}

.container_text{
  width: 100%;
  text-align: left;
  margin: 2rem;


}


@media (max-width: 768px) {
 .container_sobre{
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
 
 } 

}
