.container_card{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 350px;
  transition: all 0.3s ease-out;
  background-color:  #fff;
}

.container_img{
  display: flex;
  justify-content:space-between
}

.img{
  float: right;
  max-width: 64px;
  max-height: 64px;
}
.container_card:hover{
  transform: translateY(-5px);
  cursor: pointer;
}



