.container_sobre{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
  




@media (max-width: 768px) {
 .container_sobre{
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
 
 } 

}