
.container_detalhes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    cursor: pointer;

}


.container_detalhes icon{
    display: flex;
    font-size: 25px;
    color: var(--brand2);
}

.container_detalhes p{
    font-weight: 400;
    font-size: 18px;
    color: var(--brand2);
    box-shadow: 0 5px 0 0px rgba(50, 50, 50, 0.22);

}

.container_detalhes h4{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 15px 0 15px;
    
}

